.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.puzzle {
  display: grid;
  grid-template-columns: repeat(5, 94px);
  grid-template-rows: repeat(3, 94px);
  margin-top: 60px;
}



.piece_0 {
  width: 114px;
  height: 124px;
  top: -10px;
  position: relative;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_1 {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: -35px;
  width: 162px;
  top: -5px;
  height: 114px;
  cursor: grab;

  
}

.piece_2 {
  width: 135px;
  height: 110px;
  left: -24px;
  top: -5px;
  position: relative;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_3 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 141px;
  height: 111px;
  top: -5px;
  position: relative;
  left: -29px;
}

.piece_4 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 114px;
  left: -27px;
  top: -39px;
  position: relative;
  height: 157px;
}

.piece_5 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;

  
  width: 96px;
  top: -14px;
  left: 0px;
  position: relative;
  height: 132px;
}

.piece_6 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 143px;
  position: relative;
  height: 160px;
  top: -31px;
  left: -20px;
}

.piece_7 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 112px;
  left: -3px;
  top: -27px;
  height: 126px;
  position: relative;
}

.piece_8 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;

  
  width: 113px;
  left: -5px;
  top: -25px;
  position: relative;
  height: 125px;
}

.piece_9 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 130px;
  left: -24px;
  top: -28px;
  position: relative;
  height: 131px;
}

.piece_10 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;

  width: 116px;
  top: -8px;
  left: -11px;
  position: relative;
  height: 91px;
}

.piece_11 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;

  width: 117px;
  position: relative;
  top: -28px;
  left: -20px;
  height: 123px;
}

.piece_12 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 130px;
  position: relative;
  left: -20px;
  top: -37px;
  height: 123px;
}

.piece_13 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;

  width: 112px;
  position: relative;
  top: -38px;
  left: -3px;
  height: 123px;
}

.piece_14 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 91px;
  position: relative;
  top: -28px;
  left: -3px;
  height: 123px;
}

.spot_0{
  width: 100px;
  height: 100px;
}

.spot_1{
  width: 100px;
  height: 100px;
}

.spot_2{
  width: 100px;
  height: 100px;
}

.spot_3{
  width: 180px;
  height: 145px;
}

.spot_4{
  width: 100px;
  height: 100px;
}

.spot_5{
  width: 100px;
  height: 100px;
}

.spot_6{
  width: 100px;
  height: 100px;
}

.spot_7{
  width: 100px;
  height: 100px;
}

.spot_8{
  width: 100px;
  height: 100px;
}

.spot_9{
  width: 100px;
  height: 100px;
}

.spot_10{
  width: 100px;
  height: 100px;
}

.spot_11{
  width: 100px;
  height: 100px;
}

.spot_12{
  width: 100px;
  height: 100px;
}

.spot_13{
  width: 100px;
  height: 100px;
}

.spot_14{
  width: 100px;
  height: 100px;
}


.title{
  position: relative;
  top: 20px;
}

.image{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 11px;
  width: 459px;
  top: -91px;
}