.number{
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #123355;
  font-size: 50px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  transition: left .4s ease-in-out, top .4s ease-in-out;
}
.number.correct{
  background: red;
}

/* Add additional CSS for positioning each tile in the 2x2 grid */
.number.slot--0 { left: 0; top: 0; }
.number.slot--1 { left: 100px; top: 0; }
.number.slot--2 { left: calc(2 * 100px); top: 0; }
.number.slot--3 { left: 0; top: 100px; }
.number.slot--4 { left: 100px; top: 100px; }
.number.slot--5 { left: calc(2 * 100px); top: 100px; }
.number.slot--6 { left: 0; top: calc(2 * 100px); }
.number.slot--7 { left: 100px; top: calc(2 * 100px); }
.number.slot--8 { left: calc(2 * 100px); top: calc(2 * 100px); }


.number.empty {
  pointer-events: none; 
  background-color: transparent;
}