.bghome{
}

.bghomedetail{
    width: 100%;
}

.imagebackgound{
    position: fixed;
    width: 100%;
    height: 163%;
    z-index: 100;
}

.bg{
    

}

.imagebackgound1{
    
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 114rem;
    top: -120px;
    right: -33rem;
}

.imagebackgound2{
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 114rem;
    top: 0px;
    right: 24rem;
}