
.bghome{
 
  background-color: #FCEDE7;
  width: 100%;
}

.plane1{
  position: absolute;
  height: 12rem;
  width: 23rem;
  left: 0;
  top: 13rem;
  right: 0;
  bottom: 0;
  object-fit: cover;
  color: transparent;
}

.plane2{
  position: absolute;
  height: 12rem;
  width: 23rem;
  top: 13rem;
  right: 0;
  bottom: 0;
  object-fit: cover;
  color: transparent;
}