.boxcard{
    width: calc(25% - 20px);
    background-color: #3081D0;
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.joinbtn{
    padding: 10px;
    background-color: #F4F27E;
    width: 50%;
    border-radius: 8px;
}
