.game {
  position: relative;
  z-index: 200;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 100px); /* 5 columns */
  grid-template-rows: repeat(5, 100px); /* 5 rows */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 10px solid #ECF4EE;
}
