.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  position: absolute;
  z-index: 200; /* Distribuye las tarjetas equitativamente en la fila */
  padding: 150px;
  }

  .welcome{
    
    position: absolute;
    width: 80%;
    top: 50px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
  }

  .welcome1{
    
    position: absolute;
    width: 80%;
    top: 93px;
    font-family: 'Lexend', sans-serif;
    text-align: center;
  }

  .boxtitles{
    width: 100%;
  }

  .levellink{
    position: absolute;
    z-index: 300;
    width: 100%;
    text-align: center;
    top: 33.5rem;
    left: 0rem;
  }

  .linkback{
    font-family: 'Lexend', sans-serif;
    border: 4px solid #123355;
    width: 8%;
    margin: auto;
    border-radius: 19px;
    color: #123355;
    font-size: 50px;
  }