.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.puzzle {
  display: grid;
  grid-template-columns: repeat(4, 94px);
  margin-top: 60px;
}



.piece_0 {
  width: 132px;
  height: 133px;
  position: relative;
  left: -18px;
  top: -25px;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_1 {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  cursor: grab;
  position: relative;
  left: -11px;
  width: 144px;
  top: -12px;
  height: 131px;
  
}

.piece_2 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 154px;
  height: 134px;
  position: relative;
  left: -1px;
  top: -13px;
}

.piece_3 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 150px;
  height: 129px;
  position: relative;
  left: 3px;
  top: -12px;
}

.piece_4 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 110px;
  top: -46px;
  position: relative;
  height: 163px;
  left: -18px;
}

.piece_5 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 130px;
  top: -12px;
  left: -27px;
  position: relative;
  height: 143px;
}

.piece_6 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 156px;
  position: relative;
  height: 160px;
  top: -23px;
  left: -15px;
}

.piece_7 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  position: relative;
  width: 112px;
  left: 22px;
  top: -14px;
  height: 141px;
}

.piece_8 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 143px;
  top: -23px;
  left: -23px;
  position: relative;
  height: 133px;
}

.piece_9 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 132px;
  left: -2px;
  top: -8px;
  position: relative;
  height: 124px;
}

.piece_10 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 140px;
  left: -5px;
  position: relative;
  height: 106px;
  top: 1px;
}

.piece_11 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 131px;
  position: relative;
  top: -7px;
  height: 120px;
  left: 0px;
}

.spot_0{
  width: 100px;
  height: 100px;
}

.spot_1{
  width: 100px;
  height: 100px;
}

.spot_2{
  width: 100px;
  height: 100px;
}

.spot_3{
  width: 180px;
  height: 145px;
}

.spot_4{
  width: 100px;
  height: 100px;
}

.spot_5{
  width: 100px;
  height: 100px;
}

.spot_6{
  width: 100px;
  height: 100px;
}

.spot_7{
  width: 100px;
  height: 100px;
}

.spot_8{
  width: 100px;
  height: 100px;
}

.spot_9{
  width: 100px;
  height: 100px;
}

.spot_10{
  width: 100px;
  height: 100px;
}

.spot_11{
  width: 100px;
  height: 100px;
}


.title{
  position: relative;
  color: black;
  top: 53px;
}

.image{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -50px;
  top: -56px;
}