.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.puzzle {
  display: grid;
  grid-template-columns: repeat(5, 94px);
  grid-template-rows: repeat(3, 94px);
  margin-top: 60px;
}



.piece_0 {
  width: 100px;
  height: 100px;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_1 {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  opacity: 1;
  width: 150px;
  left: -20px;
  height: 121px;
  cursor: grab;

  
}

.piece_2 {
  width: 100px;
  left: 11px;
  height: 100px;
  position: relative;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_3 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 127px;
  height: 100px;
  position: relative;
  left: -7px;
}

.piece_4 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 122px;
  top: -28px;
  position: relative;
  height: 157px;
}

.piece_5 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 129px;
  top: -15px;
  left: -4px;
  position: relative;
  height: 142px;
}

.piece_6 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 97px;
  position: relative;
  height: 160px;
  top: -26px;
  left: 7px;
}

.piece_7 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 117px;
  left: -9px;
  top: -18px;
  height: 126px;
  position: relative;
}

.piece_8 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 125px;
  top: -15px;
  left: -7px;
  position: relative;
  height: 140px;
}

.piece_9 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 142px;
  left: -9px;
  top: -16px;
  position: relative;
  height: 143px;
}

.piece_10 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 124px;
  top: -2px;
  left: -1px;
  position: relative;
  height: 127px;
}

.piece_11 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 111px;
  position: relative;
  top: -11px;
  height: 123px;
}

.piece_12 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 147px;
  position: relative;
  top: -11px;
  left: -15px;
  height: 125px;
}

.piece_13 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 126px;
  position: relative;
  top: -3px;
  left: 13px;
  height: 130px;
}

.piece_14 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 101px;
  position: relative;
  top: 6px;
  left: 23px;
  height: 115px;
}

.spot_0{
  width: 100px;
  height: 100px;
}

.spot_1{
  width: 100px;
  height: 100px;
}

.spot_2{
  width: 100px;
  height: 100px;
}

.spot_3{
  width: 180px;
  height: 145px;
}

.spot_4{
  width: 100px;
  height: 100px;
}

.spot_5{
  width: 100px;
  height: 100px;
}

.spot_6{
  width: 100px;
  height: 100px;
}

.spot_7{
  width: 100px;
  height: 100px;
}

.spot_8{
  width: 100px;
  height: 100px;
}

.spot_9{
  width: 100px;
  height: 100px;
}

.spot_10{
  width: 100px;
  height: 100px;
}

.spot_11{
  width: 100px;
  height: 100px;
}

.spot_12{
  width: 100px;
  height: 100px;
}

.spot_13{
  width: 100px;
  height: 100px;
}

.spot_14{
  width: 100px;
  height: 100px;
}


.title{
  position: relative;
  color: black;
  top: 20px;
}

.image{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 11px;
  width: 459px;
  top: -91px;
}