.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.puzzle {
  display: grid;
  grid-template-columns: repeat(6, 94px);
  grid-template-rows: repeat(4, 94px);
  margin-top: 60px;
}



.piece_0 {
  width: 157px;
  left: -54px;
  position: relative;
  height: 142px;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_1 {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 173px;
  left: -51px;
  top: 0px;
  height: 141px;
  cursor: grab;

  
}

.piece_2 {
  width: 167px;
  position: relative;
  height: 146px;
  top: -15px;
  left: -16px;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_3 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 141px;
  height: 114px;
  position: relative;
  left: 18px;
}

.piece_4 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 174px;
  left: 24px;
  top: 0px;
  position: relative;
  height: 139px;
}

.piece_5 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 217px;
  top: 0px;
  left: 24px;
  position: relative;
  height: 140px;
}

.piece_6 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 140px;
  position: relative;
  height: 140px;
  top: 9px;
  left: -32px;
}

.piece_7 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 130px;
  left: -20px;
  top: 22px;
  height: 114px;
  position: relative;
}

.piece_8 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 173px;
  top: -3px;
  left: -22px;
  position: relative;
  height: 163px;
}

.piece_9 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 196px;
  left: -11px;
  top: -1px;
  position: relative;
  height: 165px;
}

.piece_10 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 159px;
  top: 18px;
  left: 30px;
  position: relative;
  height: 117px;
}

.piece_11 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 133px;
  position: relative;
  top: 21px;
  left: 57px;
  height: 112px;
}

.piece_12 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 127px;
  position: relative;
  top: 14px;
  left: -38px;
  height: 139px;
}

.piece_13 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 147px;
  position: relative;
  top: 18px;
  left: -40px;
  height: 159px;
}

.piece_14 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 169px;
  position: relative;
  top: 28px;
  left: -18px;
  height: 141px;
}

.piece_15 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 136px;
  position: relative;
  top: 35px;
  left: 31px;
  height: 131px;
}

.piece_16 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 139px;
  position: relative;
  top: 11px;
  left: 45px;
  height: 170px;
}

.piece_17 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 123px;
  position: relative;
  top: 17px;
  left: 68px;
  height: 157px;
}

.piece_18 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 137px;
  position: relative;
  top: 32px;
  left: -32px;
  height: 143px;
}

.piece_19 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 158px;
  position: relative;
  top: 60px;
  left: -35px;
  height: 113px;
}

.piece_20 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 139px;
  position: relative;
  top: 38px;
  left: -18px;
  height: 139px;
}

.piece_21 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 139px;
  position: relative;
  top: 34px;
  left: 4px;
  height: 143px;
}

.piece_22 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 163px;
  position: relative;
  top: 62px;
  left: 29px;
  height: 114px;
}
.piece_23 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 130px;
  position: relative;
  top: 58px;
  left: 68px;
  height: 113px;
}



.spot_0{
  width: 100px;
  height: 100px;
}

.spot_1{
  width: 100px;
  height: 100px;
}

.spot_2{
  width: 100px;
  height: 100px;
}

.spot_3{
  width: 180px;
  height: 145px;
}

.spot_4{
  width: 100px;
  height: 100px;
}

.spot_5{
  width: 100px;
  height: 100px;
}

.spot_6{
  width: 100px;
  height: 100px;
}

.spot_7{
  width: 100px;
  height: 100px;
}

.spot_8{
  width: 100px;
  height: 100px;
}

.spot_9{
  width: 100px;
  height: 100px;
}

.spot_10{
  width: 100px;
  height: 100px;
}

.spot_11{
  width: 100px;
  height: 100px;
}

.spot_12{
  width: 100px;
  height: 100px;
}

.spot_13{
  width: 100px;
  height: 100px;
}

.spot_14{
  width: 100px;
  height: 100px;
}

.spot_15{
  width: 100px;
  height: 100px;
}
.spot_16{
  width: 100px;
  height: 100px;
}
.spot_17{
  width: 100px;
  height: 100px;
}
.spot_18{
  width: 100px;
  height: 100px;
}
.spot_19{
  width: 100px;
  height: 100px;
}
.spot_20{
  width: 100px;
  height: 100px;
}
.spot_21{
  width: 100px;
  height: 100px;
}
.spot_22{
  width: 100px;
  height: 100px;
}
.spot_23{
  width: 100px;
  height: 100px;
}
.spot_24{
  width: 100px;
  height: 100px;
}
.title{
  position: relative;
  top: 53px;
}

.image{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 33px;
  top: -66px;
}