@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


.puzzlegame{
    margin-top: 70px;

}

.btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    gap: 29px;
    font-family: 'Lexend', sans-serif;

}

.btnsimgs{
    background: none;
    padding: 25px;
    border-radius: 67px;

}

.imgbtns{
    width: 7rem;
}

.titles{
    text-align: center;
    font-family: 'Lexend', sans-serif;
}

.btnreset{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend', sans-serif;   
}

.progressbtn{
    font-family: 'Lexend', sans-serif;
    padding: 10px;
    border-radius: 14px;
    background: none;
    margin-top: 25px;
}

.boxtitles{
    padding-top: 45px;
}


.pictures{
    
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 30px;
}

.btn1{
    padding: 42px;
    background-image: url('/preview/preview1.svg');
    background-size: cover;

}

.btn2{
    padding: 42px;
    background-image: url('/preview/preview2.svg');
    background-size: cover;


}

.btn3{
    padding: 42px;
    background-image: url('/preview/preview3.svg');
    background-size: cover;

}
.btn4{
    background-image: url('/preview/preview4.svg');
    padding: 42px;
    background-size: cover;

}
.btn5{
    padding: 42px;
    background-image: url('/preview/preview5.svg');
    background-size: cover;


}
.btn6{
    background-image: url('/preview/preview6.svg');
    padding: 42px;
    background-size: cover;

}
.btn7{
    padding: 42px;
    background-image: url('/preview/preview7.svg');
    background-size: cover;

}
.btn8{
    background-image: url('/preview/preview8.svg');
    background-size: cover;

    padding: 42px;
}
.btn9{
    
    padding: 42px;
    background-size: cover;
    background-image: url('/preview/preview9.svg');

}
.btn10{
    
    padding: 42px;
    background-image: url('/preview/preview10.svg');
    background-size: cover;

}

.btn1_level2{
    padding: 42px;
    background-image: url('/preview2/preview1-level2.svg');
    background-size: cover;

}

.btn2_level2{
    padding: 42px;
    background-image: url('/preview2/preview2-level2.svg');
    background-size: cover;

}

.btn3_level2{
    padding: 42px;
    background-image: url('/preview2/preview3-level2.svg');
    background-size: cover;

}

.btn4_level2{
    padding: 42px;
    background-image: url('/preview2/preview4-level2.svg');
    background-size: cover;

}
.btn5_level2{
    padding: 42px;
    background-image: url('/preview2/preview5-level2.svg');
    background-size: cover;

}

.btn6_level2{
    padding: 42px;
    background-image: url('/preview2/preview6-level2.svg');
    background-size: cover;

}

.btn7_level2{
    padding: 42px;
    background-image: url('/preview2/preview7-level2.svg');
    background-size: cover;

}
.btn8_level2{
    padding: 42px;
    background-image: url('/preview2/preview8-level2.svg');
    background-size: cover;

}

.btn9_level2{
    padding: 42px;
    background-image: url('/preview2/preview9-level2.svg');
    background-size: cover;

}

.btn10_level2{
    padding: 42px;
    background-image: url('/preview2/preview10-level2.svg');
    background-size: cover;

}