.detail{
  background-image: url(/skybg.svg);
}


.linkback{
  font-family: 'Lexend', sans-serif;
  border: 4px solid black;
  width: 8%;
  margin: auto;
  border-radius: 19px;
  color: black;
  font-size: 50px;
  }

  .icon{
    position: relative;
    z-index: 400;
  }