.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.puzzle {
  display: grid;
  grid-template-columns: repeat(5, 94px);
  grid-template-rows: repeat(3, 94px);
  margin-top: 60px;
}



.piece_0 {
  width: 119px;
  height: 125px;
  position: relative;
  top: -16px;
  left: -1px;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_1 {
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: -17px;
  width: 142px;
  top: -16px;
  height: 102px;
  cursor: grab;

  
}

.piece_2 {
  width: 147px;
  height: 116px;
  position: relative;
  top: -23px;
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
}

.piece_3 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 136px;
  height: 102px;
  position: relative;
  left: 25px;
  top: -16px;
}

.piece_4 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 102px;
  top: -43px;
  position: relative;
  left: 38px;
  height: 157px;
}

.piece_5 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;

  
  width: 102px;
  top: -18px;
  left: 7px;
  position: relative;
  height: 121px;
}

.piece_6 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;


  width: 129px;
  position: relative;
  height: 160px;
  top: -35px;
  left: -11px;
}

.piece_7 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;

  
  width: 151px;
  left: -2px;
  top: -32px;
  height: 126px;
  position: relative;
}

.piece_8 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 158px;
  top: -30px;
  left: 3px;
  position: relative;
  height: 147px;
}

.piece_9 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 129px;
  left: 12px;
  top: -33px;
  position: relative;
  height: 132px;
}

.piece_10 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 171px;
  top: -24px;
  left: -16px;
  position: relative;
  height: 129px;
}

.piece_11 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 123px;
  position: relative;
  top: -9px;
  left: 17px;
  height: 126px;
}

.piece_12 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 106px;
  position: relative;
  top: -21px;
  left: 22px;
  height: 124px;
}

.piece_13 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 122px;
  position: relative;
  top: -9px;
  left: 11px;
  height: 123px;
}

.piece_14 {
  background-size: contain; /* Cambia 'cover' por 'contain' */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen de fondo */
  cursor: grab;
  width: 131px;
  position: relative;
  top: -19px;
  left: 12px;
  height: 123px;
}

.spot_0{
  width: 100px;
  height: 100px;
}

.spot_1{
  width: 100px;
  height: 100px;
}

.spot_2{
  width: 100px;
  height: 100px;
}

.spot_3{
  width: 180px;
  height: 145px;
}

.spot_4{
  width: 100px;
  height: 100px;
}

.spot_5{
  width: 100px;
  height: 100px;
}

.spot_6{
  width: 100px;
  height: 100px;
}

.spot_7{
  width: 100px;
  height: 100px;
}

.spot_8{
  width: 100px;
  height: 100px;
}

.spot_9{
  width: 100px;
  height: 100px;
}

.spot_10{
  width: 100px;
  height: 100px;
}

.spot_11{
  width: 100px;
  height: 100px;
}

.spot_12{
  width: 100px;
  height: 100px;
}

.spot_13{
  width: 100px;
  height: 100px;
}

.spot_14{
  width: 100px;
  height: 100px;
}


.title{
  position: relative;
  top: 20px;
}

.image{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 11px;
  width: 459px;
  top: -91px;
}